<!DOCTYPE html>
<html>
<head>
    <title>Список студентов</title>
</head>
<body>
    <h1>Список студентов</h1>
    <a href="{% url 'student_create' %}">Добавить студента</a>
    <ul>
        {% for student in students %}
            <li>
                {{ student.full_name }} ({{ student.university.short_name }}, {{ student.enrollment_year }})
                - <a href="{% url 'student_update' student.pk %}">Редактировать</a>
                - <a href="{% url 'student_delete' student.pk %}">Удалить</a>
            </li>
        {% empty %}
            <li>Нет студентов</li>
        {% endfor %}
    </ul>
    <a href="{% url 'university_list' %}">Перейти к списку университетов</a>
</body>
</html>