<!DOCTYPE html>
<html>
<head>
    <title>Список университетов</title>
</head>
<body>
    <h1>Список университетов</h1>
    <a href="{% url 'university_create' %}">Добавить университет</a>
    <ul>
        {% for university in universities %}
            <li>
                {{ university.full_name }} ({{ university.short_name }})
                - <a href="{% url 'university_update' university.pk %}">Редактировать</a>
                - <a href="{% url 'university_delete' university.pk %}">Удалить</a>
            </li>
        {% empty %}
            <li>Нет университетов</li>
        {% endfor %}
    </ul>
    <a href="{% url 'student_list' %}">Перейти к списку студентов</a>
</body>
</html>